.icon-box {
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.3rem;
  flex-shrink: 0;
}

/* Stile mappe */
.map-container {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.08);
  height: 300px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
